<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sticky</title>

        <style>
            .sticky {
                /* Add a light pink background to make the sticky element visible */
                background-color: pink;

                /* Enable sticky positioning - element will stick when scroll reaches its position */
                position: sticky;

                /* Distance from top of viewport when element becomes sticky */
                top: 20px;

                /* Ensure sticky element appears above other content */
                z-index: 1;
            }
        </style>
    </head>

    <body>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p class="sticky">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit fuga, omnis corporis hic
            tempora, non quaerat doloribus at similique ipsa quo praesentium voluptas fugit? Doloremque vero
            reprehenderit tempore. Optio.
        </p>
    </body>
</html>
